@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
    font-family: "Outfit", sans-serif;
}

body {
    background: #02061A;
}

/*header*/
header svg {
    position: absolute;
    left: -103px;
    top: -245px;
    z-index: -10;
}

nav {
    padding-top: 9.9vh;
    width: 73.8vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color: #FFF;
    text-align: center;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav > ul > li:nth-child(1) {
    margin-right: 4.9vw;
}

nav > ul > li:nth-child(2) {
    margin-right: 3.3vw;
}

nav > ul > li:nth-child(3) {
    margin-right: 3vw;
}

nav ul a {
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.cover {
    width: 73.8vw;
    margin: 0 auto;
}

h2 {
    color: #FFF;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*lion section*/
main {
    margin-top: 18.4vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

main > div {
    width: 37vw;
    display: flex;
    flex-direction: column;

}

main > div > div > button:nth-child(1) {
    margin-right: 22px;
    margin-left: 0;
}

main > div > div > button {
    color: #FFF;
    text-align: center;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 50px;
    border: 3px solid #23263C;
    background: transparent;
    width: 254px;
    height: 95px;
    margin: 36px 5px 5px 5px;
}

main > div > div > button:hover {
    background: #23263C;
}

main > img {
    width: 467px;
    height: 461px;
    border-radius: 10px;
    filter: drop-shadow(24px 19px 40px #56CAB1);
    transform: skew(-10deg);
    object-fit: contain;
    margin-bottom: 6vh;
}

/*featured on*/
h3 {
    margin-top: 21vh;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
}

.cover > section:nth-of-type(1) > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 46px 68px 45px 84px;
    border: 1px solid #5BD2BD;
    background: #23263C;

}

.cover > section:nth-of-type(1) > ul a {
    color: #FFF;
    text-align: center;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.5;
}

/*one monkey*/
.cover > section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 19.5vh;
}

.cover > section:nth-of-type(2) img {
    width: 428px;
    height: 480px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    box-shadow: -10px 10px 5px 0 #56CAB1, 10px -10px 5px 0 #4C99BB;
}

.cover > section:nth-of-type(2) > div {
    width: 37.5vw;
}

.cover > section:nth-of-type(2) h2 {
    line-height: 73px;
}

.cover > section:nth-of-type(2) h2 > span {
    color: #56CAB1;
}

.cover > section:nth-of-type(2) > div > p:nth-of-type(1) {
    color: #4C99BB;
    font-family: "Poppins", sans-serif;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    width: 90%;
}

.cover > section:nth-of-type(2) > div > p:nth-of-type(2) {
    color: #FFF;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 6px;
}

.decorative-space {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7px;
}


.primary-button {
    display: block;
    background: transparent;
    cursor: pointer;
    position: relative;
    width: 126px;
    height: 68px;
    border: 0;
}

.primary-button__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 9px;
    bottom: 12px;
    left: 0;
    color: #FFF;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 16px;
    border: 1px solid #56CAB1;
}

.primary-button__text:hover {
    background: #23263C;
}

.primary-button::before {
    content: "";
    position: absolute;
    border-radius: 16px;
    border: 1px solid #56CAB1;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0);
    top: 6px;
    right: 5px;
    bottom: 6px;
    left: 5px;
}

.cover > section:nth-of-type(2) > div > ul {
    padding: 18px 28px 20px 34px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #3A5B6A;
    border-radius: 18px;
    margin-top: 34px;
}

.cover > section:nth-of-type(2) > div > ul li p {
    color: #FFF;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

.cover > section:nth-of-type(2) > div > ul li p:first-child {
    margin-bottom: 18px;
}

/*two monkeys*/
.cover > section:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 21.6vh;
}

.cover > section:nth-of-type(3) h2 {
    width: 32.3vw;
}

.cover > section:nth-of-type(3) > div:nth-of-type(1) button {
    width: 450px;
    height: 96px;
    border-radius: 100px;
    border: 3px solid rgba(84, 197, 173, 0.95);
    background: #1F143B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #56CAB1;
    font-size: 3.1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 58px;
}

.cover > section:nth-of-type(3) > div:nth-of-type(1) button:hover {
    background: #23263C;
}

.cards {
    display: inline-flex;
    align-items: flex-end;
}

.cards p {
    margin-left: 29px;
}

.card1 {
    width: 380px;
    height: 466px;
    transform: rotate(-25.337deg);
    border-radius: 10px;
    background: rgba(137, 130, 130, 0.50);
    mix-blend-mode: screen;
    padding-bottom: 22px;
    z-index: -1;
    margin-bottom: 144px;
}

.card2 {
    width: 375px;
    height: 507px;
    border-radius: 10px;
    background: rgba(137, 130, 130, 0.50);
    padding-bottom: 22px;
    margin-bottom: 74px;
}

.card1 p:first-of-type {
    color: #56CAB1;
    text-shadow: 2px 2px 0 #02061A,
    -2px 2px 0 #02061A,
    -2px -2px 0 #02061A,
    2px -2px 0 #02061A;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 12px;
}

.card1 > p:nth-of-type(2) {
    color: #FFF;
    text-align: left;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 15px;
}

.card2 > p {
    color: #56CAB1;
    text-shadow: 2px 2px 0 #02061A,
    -2px 2px 0 #02061A,
    -2px -2px 0 #02061A,
    2px -2px 0 #02061A;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 12px;
}

.card2 div {
    margin-top: 12px;
}

.card2 > div p {
    color: #FFF;
    text-align: left;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card2 button {
    width: 148px;
    height: 51px;
    border-radius: 3px;
    border: 2px solid #000;
    background: #1F143B;
    color: #52A7C6;
    text-shadow: 1px 1px 0 #02061A,
    -1px 1px 0 #02061A,
    -1px -1px 0 #02061A,
    1px -1px 0 #02061A;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.card2 button:hover {
    background: #23263C;
}

.cover > section:nth-of-type(3) span {
    color: #23263C;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.cover > section:nth-of-type(3) > div > div > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card1 img {
    width: 380px;
    height: 323px;
    border-radius: 5px;
    object-fit: cover;
}

.card2 img {
    width: 374px;
    height: 358px;
    border-radius: 5px;
    object-fit: cover;
}

/*cards with people*/
.cover > section:nth-of-type(4) {
    margin-top: 22.9vh;
}

.cover > section:nth-of-type(4) > p {
    color: #5BD2BF;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.cover > section:nth-of-type(4) > h2 {
    text-align: center;
}

.cover > section:nth-of-type(4) ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 14.4vh;
    flex-wrap: wrap;
    gap: 80px;
}

.cover > section:nth-of-type(4) ul img {
    width: 143px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: luminosity;
    position: absolute;
    top: -75px;
}

.cover > section:nth-of-type(4) ul li {
    width: 345px;
    height: 360px;
    border-radius: 10px;
    background: #24293F;
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover > section:nth-of-type(4) ul li > p:nth-of-type(1) {
    font-size: 2em;
    margin-bottom: 27px;
}

.cover > section:nth-of-type(4) ul li > p:nth-of-type(2) {
    width: 302px;
}

/*banner*/
.cover > section:nth-of-type(5) {
    margin-top: 20.3vh;
    width: 100%;
    height: 26.3vw;
    border-radius: 20px;
    background: linear-gradient(97deg, #1F143B -19.45%, #3C8273 103.56%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;

}

.cover > section:nth-of-type(5) h2 {
    text-align: center;
    text-transform: none;
    margin-top: 24px;
}

.cover > section:nth-of-type(5) button {
    width: 23.9vw;
    height: 5.9vw;
    flex-shrink: 0;
    background: #000;
    border-radius: 50px;
    color: #FFF;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    text-transform: uppercase;
    border: none;
}

.cover > section:nth-of-type(5) button:hover {
    background: #23263C;
}

/*footer*/
footer {
    display: flex;
    margin: 25.6vh auto 13.1vh auto;
    width: 73.8vw;
    justify-content: space-between;
}

footer ul {
    list-style: none;
}

footer ul li:first-of-type {
    font-weight: 700;
}

footer ul li {
    margin-bottom: 19px;
}

footer a {
    color: #FFF;
    font-size: 1.25em;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

footer > a {
    font-size: 1.6em;
    text-decoration: line-through;
    font-weight: 700;
}

footer ul li p {
    color: #FFF;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

footer ul li form {
    width: 17.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: #3B7C70;
}

footer ul li input {
    width: 100%;
    border: none;
    height: 4.2vw;
    border-radius: 50px;
    padding-left: 0.8vw;
    background: none;

}

::placeholder {
    color: #FFFFFF;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

footer ul li button {
    width: 6.9vw;
    height: 4vw;
    border-radius: 50px;
    background: #262E48;
    border: none;
    color: #FFF;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

footer ul li button:hover {
    background: #23263C;
}
